* {
    background-color: #1F2937;
    margin: 10px;
}

p {
    color: white;
    font-size: 30px;
    font-weight: 800;
}

#attribution,
span {
    font-size: 20px;
    color: white;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 175px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-card {
    display: flex;
    justify-content: space-between;
    border: 3px goldenrod solid;
    border-radius: 15px;
    padding: 10px;
}

#title {
    width: 10%;
}

img {
    border-radius: 15px;
}

img:hover {
    border: 2px chartreuse solid;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

/* iPhone:SE */
@media screen and (min-width: 360px) {
    #title-card {
        width: 85%;
    }

    img {
        width: 30%;
        height: auto;
    }
}

@media screen and (min-width: 1000px) {
    img {
        width: 25%;
        height: auto;
    }
}

#scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#score {
    display: flex;
    gap: 58px;
}